*{
  box-sizing: border-box;

}
#frontpage{
  background-color:silver;
}
.footer1{
  position:absolute;
  bottom: 0;
}
.resumeey{ 
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  flex-wrap: wrap;
  -webkit-box-shadow: -1px 6px 15px 3px white;
  -moz-box-shadow: -1px 6px 15px 3px white;
  box-shadow: -1px 6px 15px 3px white;
  opacity: .9;
  width: 80%;
  height: 300px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1453090522900-026de5423c2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.cre{
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
  width: 90%;
  margin-right: auto;
  margin-left: 4em;
}

.urge{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  text-indent: 1em;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-size: 30px;
}
.areyou{
  -webkit-box-shadow: -1px 6px 15px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 6px 15px 3px rgba(0,0,0,0.75);
box-shadow: -1px 6px 15px 3px rgba(0,0,0,0.75);
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
margin-left: auto;
margin-right: auto;
overflow: hidden;
flex-wrap: wrap;
}
.ask{
  text-align: center;
}
.ask1{
  font-size: 28px;
}
.body2{
  display: flex;
  justify-content: space-between;
}
.ask2{
  text-align: center;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.or{
  display: flex;
  align-items: center;
  justify-content: center;
}
.and{
  font-weight: bolder;
  font-size: 22px;
}
.signup1{
  color: goldenrod;
  text-decoration: none;
}
.asktxt{
  font-size: 24px;
}
#phone{
  font-size: 4em;
}
.alljbs{
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 11px 6px 1px rgba(255,238,217,0); 
  box-shadow: 0px 10px 13px -7px #000000, 6px 11px 6px 1px rgba(255,238,217,0);
  padding-top: 1rem;
  height:fit-content;
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  background-color: white;
}
.latestjobs{
  margin-bottom: 2em;
  height: fit-content;
  margin-left: 10%;
  width: 20%;
  border-radius: 10px;
  background-color:#E0FFFF;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 11px 6px 1px rgba(255,238,217,0); 
box-shadow: 0px 10px 13px -7px #000000, 6px 11px 6px 1px rgba(255,238,217,0);
}
.txt{
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.txt0{
  border: 0.9px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: #545AA7;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tag{
  padding: 6px;
  font-weight: 700px;
  margin: 12px;
  color: wheat;
  border: 1px solid gold ;
  border-radius: 12px;
}
.jbs{
  line-height: 1.6;
  margin: 12px;
  word-wrap: break-word;
}
.jobname{
  color: coral;
  font-size: 19px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.jobcompany{
  font-size: 19px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid blueviolet;
}
.hourworking{
  color: #FF00FF;
  font-style: italic;
  font-weight: bold;
}
.description{
  color:black;
  font-size: 20px;
  line-height: 1.2;
  padding-left: 13px;
}
.heading{
  word-spacing: 9px;
  color: white;
  font-family: 'Black Ops One';
  font-size: 24px;
  text-align: center;
  padding: 13px 0;
  background-color: maroon;
}
.registered{
background-color: white;
  max-width: 1100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 42px;
  margin-left: 20%;
  transition: 0.30s;
  box-shadow: 
  0.3em 0.3em 0 0 purple,
  inset 0.3em 0.3em 0 0 blue;
}
.registered:hover,
.registered:focus:hover {
  box-shadow: 0 0.5em 0.5em -0.4em ;
  transform: translateY(-0.25em);
  box-shadow: 
    0 0 0 0,
    inset 6em 3.5em 0 0 white;
}
.images{
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}
.logos1{
  padding: 14px 16px;
  width: 14rem;
  height: 10em;
  border-radius: 32px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 11px 6px 1px rgba(255,238,217,0); 
box-shadow: 0px 10px 13px -7px blue, -10px 11px 6px 1px rgba(255,238,217,0);
}
/*the subcription news letter*/

.newsletter{
  float: right;
  margin-left: 0px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1514464750060-00e6e34c8b8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}
.inside-news{
  height: fit-content;
  opacity: 1;
  background-color: #E1EBEE;
  line-height: normal;
  border-radius: 12px;
  margin: 2em;
  margin-left: 3em;
  padding: 14px;
}
#red{
  padding-top: 9px;
  color: red;
  font-size: 3em;
}
.sub{
  color: #004792;
  font-weight: 900;
  font-size: 2em;
}
.sub1{
  color: #fab187;
  font-size: 16px;
  font-style: italic;
}
#blue{
  color: #0018A8;
  font-size: 2em;
}
#input1{
  background-color: #A3C1AD;
  padding: 16px;
  border-radius: 17px;
  font-family: monospace;
  opacity: .9;
  border: none;
  outline: none;
}
#insidebtn{
  background-color:transparent;
  border-radius: 13px;
  border: none;
  outline: none;
}
/*testimonials*/
.sayings{
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  clear: both;
}
.say{
  font-weight: bolder;
  color: black;
  text-align: center;
  font-size: 32px;
}
.responses{
  align-content: center;
  width: fit-content;
  display: flex;
  justify-content: space-around;
}
.user1{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 12px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: floralwhite;
  max-width: 22%;
  text-align: center;
  padding-top: 12px;
  padding: 12px;
}
#user1png{
  height: 10em;
  border-radius: 14pc;
}
.txt1{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.namesay{
  font-size:22px;
  color:#120A8F;
}
@media screen and (max-width:868px){
  .logos1{
    height: 10pc;
    width: 100%;
    padding: 10px;
    
  }
  .registered{
    margin-left: 0;
    width: 100%;
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .images{
    display: flex;
    flex-direction: column;
  }
  .latestjobs{
    margin-left: 5%;
    width: 40%;
    margin-bottom: 13px;
  }
  .txt{
    font-size: 14px;
  }
  .tag{
    padding: 0px;
    border-radius: 2px;
    border:1px groove brown;
  }
  .alljbs{
    width: 100%;
    margin: 0;
  }
  .jobname{
    font-size: 12px;
   margin: 0px;
  }
  .description{
    font-size: 16px;
    line-height:.9px;
    padding: 0;
  }
  .jobcompany{
    font-size: 17px;
  }
  .hourworking{
    line-break: auto;
  }
  .newsletter{
    padding: 4px;
    float: right;
  }
  .inside-news{
    line-height: normal;
    padding:7px;
  }
  #red{
    padding: 0px;
    font-size: 3em;
  }
  .sub{
    font-size: 12px;
  }
  .sub1{
    font-size: 13px;
  }
  #input1{
    padding: 5px;
    color: yellow;
    opacity: 1;
  }
  #insidebtn{
    padding: 2px;
    font-size: 9px;
    font-weight: bolder;
  }
  .sayings{
    max-width: fit-content;
  }
  .say{
    font-size: 16px;
  }
  .user1{
    max-width: fit-content;

  }
  #user1png{
    height: 5em;
  }
  .txt1{
    font-size: 14px;
  }
  .namesay{
    font-size: 12px;
  }
  .responses{
    display: flex;
    flex-direction: column;
  }
  .cre{
    max-width: fit-content;
    margin-left: 2em;
  }
  .go{
    font-size: 2em;
  }
  .areyou{
    width: 100%;
  }
  .ask1{
    font-size: 19px;
  }
  .ask2{
    padding: 3px;
  }
  .asktxt{
    font-size: 16px;
  }
  #phone{
    font-size: 2.4em;
  }
}
