*{
  box-sizing: border-box;

}
#frontpage{
  background-color:#f2f2f2;
}

.areyou{
  -webkit-box-shadow: -1px 6px 15px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 6px 15px 3px rgba(0,0,0,0.75);
box-shadow: -1px 6px 15px 3px rgba(0,0,0,0.75);
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
margin-left: auto;
margin-right: auto;
overflow: hidden;
flex-wrap: wrap;
}
.ask{
  text-align: center;
  padding: 4px;
}
.ask1{
  font-size: 12px;
  font-weight: bold;
}
.body2{
  display: flex;
  justify-content: space-between;
}
.ask2{
  width: 50%;
  text-align: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.or{
  display: flex;
  align-items: center;
  justify-content: center;
}
.and{
  font-weight: bolder;
  font-size: 12px;
}
.signup1{
  color: goldenrod;
  text-decoration: none;
}
.asktxt{
  font-size: 14px;
}
#phone{
  font-size: 1em;
}


/*testimonials*/
.sayings{
  margin-left: 250px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  clear: both;

}

.responses{
  align-content: center;
  width: 80%;
  display: flex;
  
}
.user1{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 12px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: floralwhite;
  max-width: fit-content;
  text-align: center;
  padding-top: 12px;
  padding: 12px;
  margin-right: 2em;

}
#user1png{
  height: 4em;
  border-radius: 14pc;
}
.txt1{
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.namesay{
  font-size: 14px;
  color:#120A8F;
}




@media screen and (max-width:930px){
  .areyou{
  
    width: 60%;
  }
  .ask{
    text-align: center;
    padding: 10px;
  }
  .ask1{
    font-size: 13px;
  }
  .or{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .and{
    font-weight: bolder;
    font-size: 18px;
  }
  .signup1{
    color: goldenrod;
    text-decoration: none;
  }
  .asktxt{
    font-size: 14px;
  }
  .sayings{
    margin-left: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;

  }
  .responses{
    margin: auto;
    align-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  



}