.messagedisplayget {
    color: #0018A8;
    text-transform: capitalize;
    padding: 12px;
    font-style: italic;
    font-size: 14px;
}

.messageto {
    margin-top: 0px;
    margin-left: 13em;
    width: fit-content;
    border-radius: 10pc;
    background-color: #A3C1AD;
}
.messagesrr{
    font-size: 29px;
    color: #7C0A02;
    padding: 12px;
    font-weight: bolder;
}
.err{
    background-color: #B0C4DE;
    width: fit-content;
    margin: auto;
}
@media screen and (max-width:850px){
    .messageto{
        margin: auto;
        width: fit-content;
        margin-top: 12px;
        border-radius: 4px;
    }
    .messagedisplayget{
        padding: 5px;
        font-size: 17px;
    }
    .messagesrr{
        font-size: 17px;
        
    }
}