body{
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.logoss{
    margin-top: 3em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.lo{
    border-radius: 10pc;
}
.allterms{
    margin-bottom: 3em;
    margin-top: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.thecookie{
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.8;
    padding: 13px;
    font-family: "Avenir Next",HelveticaNeue-Light,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}
p{
    font-size: 20px;
    word-wrap: break-word;
}
h1{
    font-weight: bolder;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: 600;
}
h5{
    font-size: 14px;
    color: chocolate;
}
.numbering{
    list-style-type: none;
}
.dire{
    font-weight: bold;
}
.terms{
    list-style-type: none;
    font-weight: bold;
}
@media screen and (max-width:800px){
    .allterms{
        width: 100%;
    }
    .thecookie{
        line-height: 1.6;
    }
    p{
        font-size: 16px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 15px;
        text-decoration: underline;
    }
    .logoss{
        margin-top: 1em;
    }
    .lo{
        height: 5em;
    }
}