body{
    background-color: #f2f2f2;

}

.usersdaa{
    width: 40%;
    margin-top: 2em;
    margin-left: 3em;
}
.profiling{
    background-color: white;
    padding-bottom: 12px;
}
.accountsettun{
    text-transform: capitalize;
    color: white;
    background:linear-gradient(0deg,#bc2132,#d42b3d);
}
.settings{
    font-size: 16px;
    padding: 4px;
    margin-left: 4px;
}
.formaccount{
    margin-top: 0px;
    overflow: hidden;
    background-color: white;
    padding: 13px;
    border-radius: 12px;
}
input[type="text"]{
    width: 70%;
    border: 1PX solid brown;
    border-radius: 12px;
    outline: none;
}
input[type="number"]{
    width: 70%;
    border: 1PX solid brown;
    border-radius: 12px;
    outline: none;
}
input[type="submit"]{
    word-wrap: break-word;
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 12px;
    outline: none;
    background-color: #0000FF;
}
input[type="submit"]:hover{

    background-color: #7B68EE;
}
label{
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;;
    font-weight: 300;
}
@media screen and (max-width:1230px){
    .usersdaa{
        width: 60%;
        margin-left: 2em;
        margin-top: 3em;
    }
}
@media screen and (max-width:631px){
    .usersdaa{
        width: 90%;
        margin-right: 3em;
        margin-left: 4px;
        margin-top: 3em;
    }
}