.joppp {
  background-color: #f2f2f2;
  margin: 0px;
}

.postjob {
  margin: auto;
  width: fit-content;
  padding: 14px;
  background-color: white;
  border-radius: 12px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 6px;
}

.thejob {
  padding: 13px;
  width: fit-content;
  background-color: white;
}

label {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
    sans-serif;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: bold;
}

input[type="text"] {
  outline: none;
  border: 1px solid #5f9ea0;
  background-color: #fff;
  width: 90%;
  padding: 8px;
  font-size: 13px;
  border-radius: 12px;
}
select {
  outline: none;
  border: 1px solid #5f9ea0;
  background-color: #fff;
  width: 90%;
  padding: 8px;
  font-size: 13px;
  border-radius: 12px;
}
option {
  font-size: 10px;
}
input[type="submit"] {
  cursor: pointer;
  outline: none;
  border: #085ff7;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0000ff;
  font-size: 12px;
}

input[type="submit"]:hover {
  background-color: #0cafff;
}
/*company site css*/
.companysitee{
  background-color: silver;
  margin: 0px;
}
.welcome{
  border-radius: 10pc;
  width: fit-content;
  background-color: #222222;
  margin: auto;
}
.welcome-note{
  margin-top: 1em;
  font-size: 13px;
  font-family:Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;;
  width: fit-content;
  padding:3px 14px;
  text-align: center;
  color: white;
}
.link{
  color:#FEBE10 ;
  font-weight: bolder;
  text-transform: capitalize;
}

@media screen and (max-width: 800px) {
  input[type="submit"] {
    width: 60%;
    padding: 12px;
    color: #fff;
    font-size: 15px;
  }
  input[type="text"] {
    width: 60%;
    padding: 6px;
    font-size: 13px;
    border-radius: 12px;
  }
  label {
    font-size: 16px;
  }
  .postjob {
    width: fit-content;
    padding: 14px;
    background-color: white;
    margin-top: 2rem;
    margin-left: 0px;
  }
  select {
    width: 60%;
    padding: 8px;
    border-radius: 12px;
  }
  option {
    font-size: 13px;
  }
}
