.joppp {
  background-color: #f2f2f2;
  margin: 0px;
}

.postjob {
  margin: auto;
  padding: 14px;
  background-color: white;
  border-radius: 12px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 6px;
  width: 60%;

}
.recentjobs{
  width: 30%;
  margin-left: 34px;
}
.header34{
  border-bottom: 1px solid #ddd;
}
.header34 h3{
  font-size: 16px;
  font-weight: 400;
}

.recent{
  background-color:#ffff;
  padding: 12px;

}
.thejob {
  padding: 13px;
  width: fit-content;
  background-color: white;
  width: 90%;
}
.posted{
  text-align: center;
  width: fit-content;
  background-color: white;
  margin-left: 34px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #ddd;
  overflow: hidden;
  float: left;
  padding-bottom: 14px;
}
.posted h3{
  color:  #0cafff;
  padding: 12px;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
    sans-serif;
    font-size: 16px;
}
.posted h1{
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
    sans-serif;
font-size: 16px;
margin-top: 4px;
text-decoration: underline;
}
.posted a{
  box-shadow: 0 0 10px 1px #ddd;
  color: white;
  background-color:#6D98AB;
  padding:4px 12px;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
    sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 15px;
}
.posted a:hover{
  text-decoration: none;
  color: white;
background-color: royalblue;
}
label {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
    sans-serif;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: bold;
}


input[type="text"] {
  outline: none;
  border: 1px solid #5f9ea0;
  background-color: #fff;
  width: 90%;
  padding: 8px;
  font-size: 13px;
  border-radius: 12px;
}
select {
  outline: none;
  border: 1px solid #5f9ea0;
  background-color: #fff;
  width: 90%;
  padding: 8px;
  font-size: 13px;
  border-radius: 12px;
}
option {
  font-size: 15px;
  border: 1px solid red;
}
input[type="submit"] {
  cursor: pointer;
  outline: none;
  border: #085ff7;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0000ff;
  font-size: 12px;
}

input[type="submit"]:hover {
  background-color: #0cafff;
}
/*company site css*/
.companysitee{
  background-color: #f2f2f2;
  margin: 0px;
}
.welcome{
  border-radius: 10pc;
  width: fit-content;
  background-color: #222222;
  margin: auto;
}
.welcome-note{
  margin-top: 1em;
  font-size: 13px;
  font-family:Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;;
  width: fit-content;
  padding:3px 14px;
  text-align: center;
  color: white;
}
.link{
  color:#FEBE10 ;
  font-weight: bolder;
  text-transform: capitalize;
}

@media screen and (max-width: 800px) {
  input[type="submit"] {
    width: 60%;
    padding: 12px;
    color: #fff;
    font-size: 15px;
  }
  input[type="text"] {
    width: 90%;
    padding: 6px;
    font-size: 13px;
    border-radius: 12px;
  }
  label {
    font-size: 16px;
  }
  .postjob {
    width: fit-content;
    padding: 14px;
    background-color: white;
    margin-top: 2rem;
    margin-left: 0px;
    width: 100%;
  }

  select {
    width: 90%;
    padding: 8px;
    border-radius: 12px;
  }
  option {
    font-size: 13px;
  }
}
