
.notificationspush:hover {
  overflow-y: scroll;
}
.mesasgesde:hover {
  background-color: #ebebeb;
  cursor: pointer;
}
.themsg {
  width: 310px;
  padding-left: 5px;
}
.mesasgesde {
  padding-bottom: 0.6em;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
}
.notifi{
  color: #333;

}
.notificationspushover .he{
  /* padding-bottom: 5px; */
  border-bottom: 2px solid #ddd;
  line-height: 57.9px;

}
.innn{
  color: #00275E;
  font-weight: 600;
}
.dpo{
  margin-left: 6px;
  color: #A8B1B8;
  font-weight: 400;
}
.he span{
  margin-left: 3px;
  font-size: 22px;
  font-size: Helvetica;
  font-weight: 500;
  display: flex;
  vertical-align: bottom;
}
.notifi:hover{
  text-decoration: none;
  color: #333;
}
.notificationspushover {
  font-family: Arial,Helvetica , sans-serif;
color: #333;
  width: 350px;
  clear: both;
  background-color: white;
  overflow: hidden;
  border: 1px solid gainsboro;
  float: right;
  position: absolute;
  right: 12em;
  top: 0;
  display: none;
  z-index: 1000;
  height: calc(100vh - 1vh);

}
.allddd{
  background-color: red;
  width: 100vh;
  position: absolute;
}
.inn{
  color: #00275E;
  font-weight: 600;
}
.notificationspush {
  margin-top: 7px;
  /* width: 200px; */
  /* padding-left: 3px; */
  overflow: hidden;
  white-space: wrap;
  height: calc(100vh - 4vh);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.jobbbbs {
  margin: 0px;
  background-color: #f2f2f2;
}
.zoomin {
  background-color: #f2f2f2;
}
.profle {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
/* footerbottom*/ 
.sss{
  min-height: calc(100vh - 389px);
}

/* the navigation */

.navgation {
  position: sticky;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: #ffff;
  border-bottom: 2px solid #ddd;
}
.sup {
  color: red;
  /* background-color: red; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* text-align: center; */
  /* padding: 4px; */
  margin-left: -1px;
}
.fa-bell {
  color: blue;
}
.logo #mylogo {
  height: 3.7em;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0.5em;
  border-radius: 4px 1px 4px 1px;
}
.fa-user-lock {
  color: #0090ff;
  font-size: 1.5em;
  border-bottom: 1px solid white;
}
.fa-user-graduate {
  color: #333366;
  font-size: 1.5em;
}
.fa-user {
  color: #ffff;
  font-size: 1.5em;
}
.fa-building {
  color: #6f00ff;
  font-size: 1.5em;
}
.fa-sign-out-alt {
  color: red;
}
.header {
  line-height: 60px;
}
.header ul {
  float: right;
  margin-right: 2rem;
}
.header ul li {
  float: left;
  list-style: none;
  position: relative;
  padding: 0px 13px;
}
.header ul li a {
  display: block;
  font-family: "coda";
  color: #333;
  font-size: 22px;
  text-decoration: none;
  font-weight: 400 !important;
}
.header ul li button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 17px;
}
/*styling the dropdown*/
.header ul li ul {
  border-top: 3px solid #0090ff;
  line-height: 22px;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 0px 0px;
  border-radius: 0px 0px 4px 4px;
  text-align: left;
}
.header ul li:hover ul {
  display: block;
  transform: translate(-1.7em);
}
.header ul li ul li {
  width: 110px;
  white-space: nowrap;
  padding: 4px 10px;
  transition: background-color 300ms ease-in-out;
}
.header ul li ul li a {
  font-size: 16px;
  padding: 2px 2px;
  color: #2b2b2b;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.header ul li ul li:hover {
  background-color: #0090ff;
  color: #ffff;
  font-weight: 500;
}
.header ul li ul li a:hover {
  color: #ffff;
  font-weight: 500;
}
/*logout btn*/
#logout {
  background: none;
  color: #2b2b2b;
  border: none;
  font-size: 14px;
}
#logout:hover {
  color: white;
  font-weight: 500;
}
.careerprofile {
  overflow: hidden;
  padding-bottom: 1em;
  color: #4e5559;
  margin-top: 1em;
  width: 60%;
  margin-left: 4em;
  word-wrap: break-word;
  background-color: white;
}
.topic {
  background-color: #2b2b2b;
  color: #ff1e00;
  font-weight: 600;
}
.topic p {
  padding: 4px 0px;
}
.proflepic {
  border-radius: 50%;
  height: 6em;
  width: 6em;
  margin-left: 4em;
  float: left;
  clear: both;
}

/* .imgto{
  border: 1px solid blue;
  clear: both;
} */
.uploadit {
  float: left;
  margin-left: 13em;
}
#lbl {
  display: inline-block;
  color: #ffb766;
  font-weight: 400;
  position: relative;
}
input[type="file"] {
  outline: none;
  border: none;
  color: #b8b8b8;
  position: absolute;
}
.names {
  margin-left: 2em;
}

/*end of navihation bar*/
.search {
  width: 40%;
  margin-bottom: 3em;
  margin: auto;
  /* background-color: brown; */
}
.sixing {
  margin-top: 2em;
}
#seachit {
  text-align: center;
  outline: none;
  border: 1px solid #bbbbbb;
  padding: 8px 25px;
  border-radius: 19px;
  width: 100%;
}
#seachit:active {
  background: none;
}
.searching:active {
  outline: none;
}
.searching {
  margin-top: -15px;
  position: absolute;
  float: right;
  border: none;
  background: none;
  outline: none;
  color: gray;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*the search bar*/

#lnk {
  padding: 12px;
  margin-top: 0.9em;
  margin-right: 2em;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  background-color: #002387;
}

@media screen and (max-width: 900px) {
  .searchbox {
    padding: 5px;
    margin: auto;
  }

  #searchit {
    widows: 100%;
  }
}

@media screen and (max-width: 400px) {
  .fa {
    font-size: 7px;
  }
}
