.jobbbbs {
  margin: 0px;
  background-color: #f2f2f2;
}


/*the navigation*/

.navgation{
  position: sticky;
  height: 60px;
  width: 100%;
  background-color:#2b2b2b;
}

.logo #mylogo{
  height: 3.7em;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: .5em;
  border-radius: 4px 1px 4px 1px;
}
.fa-user-lock{
  color: #FF9933;
  font-size: 1.5em;
  border-bottom: 1px solid white;
}
.fa-user-graduate{
  color:#4032ff ;
  font-size: 1.5em;
}
.fa-user{
  color:#FFff ;
  font-size: 1.5em;
}
.fa-building{
  color:#6F00FF;
  font-size: 1.5em;
}
.fa-sign-out-alt{
  color: red;
}
.header{
  line-height: 60px;
}
.header ul{
  float: right;
  margin-right: .5em;
}
.header ul li{
  float: left;
  list-style: none;
  position: relative;
  padding:0px  13px;
}
.header ul li a{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #E0FFFF;
  font-size: 17px;
  text-decoration: none;
}
.header ul li button{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 17px;
}
/*styling the dropdown*/
.header ul li ul{
  line-height: 22px;
  display: none;
  position: absolute;
  background-color: #222;
  padding:0px 3px ;
  border-radius: 0px 0px 4px 4px;
}
.header ul li:hover ul{
  display: block;
}
.header ul li ul li{
  width: 120px;
  white-space: nowrap;
  border-radius: 10px;
  padding: 4px 10px;
}
.header ul li ul li a{
  padding:2px 2px;
  color: gold;
  text-transform: capitalize;
}
.header ul li ul li a:hover{
  background-color: #666666;
} 
/*logout btn*/
#logout{
  background:none;
  color: white;
  border: none;
  font-size: 14px;
}
.careerprofile{
  overflow: hidden;
  padding-bottom: 1em;
  color: #4e5559;
  margin-top: 1em;
  width: 60%;
  margin-left: 4em;
  word-wrap: break-word;
  background-color: white;
}
.topic{
  background-color: #2b2b2b;
  color: #ff1e00;
  font-weight: 600;
}
.topic p{
  padding:4px 0px;
}
.proflepic{
  border-radius: 12pc;
  height: 6em;
  margin-left: 4em;
  float: left;
  clear: both;
}
/* .imgto{
  border: 1px solid blue;
  clear: both;
} */
.uploadit{
  float: left;
  margin-left: 13em;
}
#lbl{
  display: inline-block;
  color: #ffb766;
  font-weight: 400;
  position: relative;
  
}
input[type="file"]{
  outline: none;
  border: none;
  color: #b8b8b8;
  position: absolute;
}
.names{
  margin-left: 2em;
}

/*end of navihation bar*/
/*the search bar*/
.search {
  text-align: center;
  
}

.searchbox {
  margin: auto;
  margin: 1px solid blue;
  padding: 13px;
  margin-bottom: 10px;
}

#seachit {
  width: 40%;
  color: blue;
  padding: 4px;
  background-color: #ffff;
  border-radius: 12px;
  outline: none;
  text-align: center;
  -webkit-box-shadow: 7px 10px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 5px 1px rgba(0, 0, 0, 0.3);
}
#searchit:focus{
  background-color: skyblue;
}

.searching {
  width: fit-content;
  margin-top: 1em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 0px;
}

.searching:focus {
  outline: none;
}

#searching {
  font-size: 1.6em;
  color: #990033;
}
#lnk{
  padding: 12px;
  margin-top: .9em;
  margin-right: 2em;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  background-color: #002387;
}

@media screen and (max-width:900px) {


  .searchbox {
    padding: 5px;
    margin: auto;
  }

  #searchit {
    widows: 100%;
  }

  
}



@media screen and (max-width:400px) {
  .fa {
    font-size: 7px;
  }
  

}