body{
    background-color: #f2f2f2;
}
.jobsheader {
    margin-top: 2em;
    max-width: 50%;
    margin-left: 1em;
    border-radius: 12px;
    
  }
 .offset{
   color: #007bff;
 }
  .jobsin {
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
    ;
    background-color: white;
    padding: 14px;
    text-decoration: none;
    float: left;
    clear: both;
    margin-bottom: 3em;
  }
  .jobname {
    color: #007bff;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  #some {
    font-size: 12px;
    text-transform: capitalize;
  }
  
  .companyname {
    font-size: 12px;
    margin-top: 0px;
    color: #367588;
    text-transform: capitalize;
  }
  
  .jobsumarry {
    border-top: 1px solid #CCCCFF;
    color: #4e5559;
    margin-top: 2em;
    line-height: 1.6;
    font-size: .75rem;
  }
  
  .goto {
    text-decoration: none;
  }
  
  .goto:hover {
    text-decoration: none;
  }
  
  .line {
    border: 1px solid #CCCCFF;
  }
  /*the jo application form*/
.apply{
  font-size: 15px;
margin-left: 3em;
background-color: #fff;
width: 35%;
overflow: hidden;
float: left; 
margin-bottom: 3em;
}
.jobto{
  font-family: Roboto,sans-serif;
}
.applyhere{
  background-color: #1112;
}
.note{
background-color: #222;
padding: 12px 24px;
color: white;
font-weight: 700;
}
.somenotes{
  padding:0px 12px;
  color:#4e5559;
  width: 96%;

}
#getch{
  padding:0px 12px;
  color:#4e5559;
  padding-bottom: 12px;
}
label{
  text-transform: capitalize;
  padding-top: 3px;
}
#txt{
  width: 70%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #222;
}
#txtadd{
  width:59%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #222;
}

select{
  width: 70%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #222;
}
input[type="submit"]{
  background-color: #f69322;
  outline: none;
  color: #fff;
  font-weight: 600;
  border: none;
  width: 40%;
  padding: 8px 20px;
  cursor: pointer;
}
input[type="file"]{
  cursor: pointer;
}
textarea{
  cursor: text;
  border: 1px solid #222;
}


  /*end of the form*/
@media screen and (max-width:850px){
    .jobsheader {
        margin-top: .5em;
        max-width: 100%;
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 12px;
    
      }
    
      .jobsin {
    
        padding: 6px;
        text-decoration: none;
      }
    
      .jobname {
        color: brown;
        font-weight: bolder;
        font-size: 13px;
      }
      .apply{
      font-size: 15px;
      background-color: #fff;
      width: 90%;
      overflow: hidden;
      float: left; 
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 3em;
      }
}
