.allss{
    padding-bottom: 9px;
    font-style: Roboto,sans-serif;
    max-width: 50%;
    margin-left: 12em;
    overflow: hidden;
    clear: both;
    background-color: white;
}
.top33{
    padding:0px 3px;
    background-color: black;
}
.jbs{
    color: #ffffff;
    font-weight: 600;
    padding: 6px 14px;
}
.cnt{
    clear: both;
    float: left;
    margin-left: 6px;
    font-size: 16px;
}
.alerting{
    padding: 4px 20px;
    color: white;
    margin-right: 2em;
    float: right;
    background-color: #FF9900;
}
.alert:hover{
    opacity: .7;
}

.jobsheader {
    clear: both;
    margin-top: .5em;
    max-width: 50%;
    margin-left: 12em;
    margin-bottom: .5em;
    
}


.jobsin {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
    ;
    background-color: white;
    padding: 14px;
    text-decoration: none;
}

.jobname {
    font-weight: bolder;
    font-size: 16px;
}
.jobname:hover {
    color: #003399;
   
}
#some {
    font-size: 13px;
    text-transform: capitalize;
}

.companyname {
    font-size: 13px;
    line-height: .4;
    color: #3457D5;
    text-transform: capitalize;
}

.jobsumarry {
    color: #4e5559;
    margin-top: 1em;
    font-size: 13px;
}

.goto:hover {
    text-decoration: none;
}
/*searchhomepagejobs.php*/
.messagedisplayget {
    color: #0018A8;
    text-transform: capitalize;
    padding: 12px;
    font-style: italic;
    font-size: 14px;
}

.messageto {
    margin-top: 0px;
    margin-left: 13em;
    width: fit-content;
    border-radius: 10pc;
    background-color: #A3C1AD;
}
.messagesrr{
    font-size: 29px;
    color: #7C0A02;
    padding: 12px;
    font-weight: bolder;
}
.err{
    background-color: #B0C4DE;
    width: fit-content;
    margin: auto;
}
/*pagination*/
.pagination{
    margin-left: 1rem;
}
@media screen and (max-width:850px) {

    .jobsheader {
        margin-top: .5em;
        max-width: 100%;
        margin-left: 6px;
        margin-right: 6px;

        border-radius: 12px;

    }

    .jobsin {

        padding: 6px;
        text-decoration: none;
    }

    .jobname {
        color: brown;
        font-weight: bolder;
        font-size: 13px;
    }
    /*searchhomepagejobs*/
    .messageto{
        margin: auto;
        width: fit-content;
        margin-top: 12px;
        border-radius: 4px;
    }
    .messagedisplayget{
        padding: 5px;
        font-size: 17px;
    }
    .messagesrr{
        font-size: 17px;
        
    }
    .allss{
        margin-right: 6px;
        padding-bottom: 5px;
        font-style: Roboto,sans-serif;
        max-width: 100%;
        margin-left: 6px;
        overflow: hidden;
        clear: both;
        background-color: white;
    }
    .top33{
        padding:0px 3px;
        background-color: black;
    }
    .jbs{
        color: #ffffff;
        font-weight: 600;
        padding: 6px 14px;
    }
    .cnt{
        clear: both;
        float: left;
        margin-left: 6px;
        font-size: 16px;
    }
    .alerting{
        padding: 4px 20px;
        color: white;
        margin-right: 2em;
        float: right;
        background-color: #FF9900;
    }

}